html, body{
  height:100%;
}

body{
  color: white;
  background-color: #4DCACB;

}

h1{
  text-align:center;
  color: #00B3B4;
  border-bottom: 2px solid #4DCACB;
  padding:10px;
}
label{
  font-size:2em;
}
#answerJumbo, #question1, #question2, #question3, #question4, #question5, #question6, #prevBtn, #doneBtn, #nameError {
  display: none;
}

#questionJumbo{
  background-color: #00B3B4;
}
#answerJumbo{
  border:2px solid #00B3B4;
  background-color: white;
  color: #00B3B4;
}
.btn{
  margin-top: 50%;
}
.btn-primary, .btn-primary:hover,.btn-primary:active, .btn-primary:focus{
  background-color: #4DCACB;
  border:none;
  outline:none;
}
.container{
  background-color: white;
  height: 100%;
  min-height: 100%;
}
