h1{
  text-align:center;
}
label{
  font-size:2em;
}
#answerJumbo, #question1, #question2, #question3, #question4, #question5, #question6, #prevBtn, #doneBtn {
  display: none;
}
.btn{
  margin-top: 50%;
}
.jumbotron{
  background-color: #DDD;
}
